<div class="main">
    <router-outlet></router-outlet>
</div>
<div class="bottom-navbar">
    <a [@openClose]="collapsed ? 'closed' : 'open'" class="{{getCollapsedClass()}}" href="/about">About</a>
    <button class="right" (click)="toggleCollapse()">…</button>
    <a [@openClose]="collapsed ? 'closed' : 'open'" class="right {{getCollapsedClass()}}" href="/escape">Play</a>
    <a [@openClose]="collapsed ? 'closed' : 'open'" class="right {{getCollapsedClass()}}" href="/edit">Edit</a>
    <a [@openClose]="collapsed ? 'closed' : 'open'" class="right {{getCollapsedClass()}}" href="/clues">Clue Sheet</a>
</div>