<div *ngIf="show" @fade>
  <p class="text">{{stage.screenText}}</p>
  <button *ngIf="showEnterCodeButton()" (click)="onEnterCodeClicked()" @fadeIn>Enter Code</button>
  <form @fadeIn *ngIf="showCodeInput()" (ngSubmit)="submit()">
    <input
      *ngIf="showCodeInput()"
      type="text" 
      name="name"
      [(ngModel)]="code"
      (ngModelChange)="onCodeChange()"
      autocomplete="off"/>
    <button type="submit">Submit</button>
    <p class="incorrect" @fadeIn *ngIf="showIncorrectText()">{{incorrectText()}}</p>
  </form>
</div>

