@import "src/theme.scss";

.content {
    width: 100%;

    // this is a bit of a hack
    height: calc(100vh - 38px);
    overflow: hidden;

    font-size: calc(14px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));

    > div {
        padding: 0 10px;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.timer, .reset-button {
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.timer, .reset-button button {
    vertical-align: baseline;
    margin-left: 10px;
    padding: 10px !important;
    background-color: black;
    color: white;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: black, $amount: 10);
    }
}

.timer {
    position: fixed;
    left: 10px;
    top: 0;
    
    padding: 10px !important;

    &.paused {
        font-style: italic;
        color: darken($color: $text-color, $amount: 20);
    }
}

.reset-button {
    position: fixed;
    right: 10px;
    top: 0;
    
    button {
        font-size: inherit;
    }
}
